# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/

# Runtime log
mikrotik_provisioner.log

# PyInstaller build output
dist/
build/
*.spec

# Generated icon (re-created by build.bat from logo.png)
assets/logo.ico

# IDE / editor
.vscode/
.idea/
